@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#header{
    width: 100%;
    height: 80vh;
    margin-top: 70px;
    h1{
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        color: black;
    }
    .brand-name{
        color: #3498db;
    }
    h2{
        color: #484848;
        font-size: 24px;
    }
    .btn-get-started{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 50px;
        transition: 0.5s;
        color: #3498db;
        border: 2px solid #3498db;
        text-decoration: none;
        &:hover{
            background: #3498db;
            color: #fff;
        }
    }
}
.header-img{
    text-align: right;
}
.navbar-brand{
    font-size: 1.9rem;
    color: #76c1ff;
}
.menu_active{
    font-weight: bold;
}
.navbar{
    a{
        font-size: 1.3rem;
        text-transform: capitalize;
        &:hover{
            color: #3498db;
        }
        
}
}


@media (max-width:991px){
    #header{
        height:80vh;
        text-align: center;
        .header-img{
            text-align: center;
        img{
            width: 60%;
        }
        }

    }

}

@media (max-width:768px){
    #header {
        margin-top: 20px;
        h1{
            font-size: 28px;
        }
        h2{
            font-size: 18px;
            margin-bottom: 30px;
        }
        .header-img{
            img{
                width: 70%;
            }
        }
    }
}