a.active_class{
    color: goldenrod;
    border-bottom: 1px solid red;
    background-color: gray;
}

.menu_style{
    width: 100%;
    line-height: 60px;
    background-color: #20232a;
    display: flex;
    justify-content: space-around;
}